<div class="logged-in">
  <div class="user-info">
    <% if current_user %>
      <span id="logged-in-sn">Logged in as: <%= current_user.username %></span>
      <span id="logged-in-balance">Balance: <%= current_user.balance %></span>
    <% end %>
  </div>
</div>

<%= render 'shared/nav' %>

<%= render 'play-area' %>
