<!-- <div class="overlay">
  <div class="message">
    <h1 id="play">♠ ♥ Let's Play Blackjack! ♣ ♦</h1>
  </div>
</div>
 -->

<div class="logged-in">
  <div class="user-info">
    <% if current_user %>
      <span id="logged-in-sn">Logged in as: <%= current_user.username %></span>
      <span id="logged-in-balance">Balance: <%= current_user.balance %></span>
    <% end %>
  </div>
</div>

<% if !logged_in? %>
  <div class= "overlay">
    <div class="overlay-txt">
      You must be logged in to play.
    </div>
  </div>
<% end %>

<%= render 'shared/nav' %>
<%= render 'play-area' %>