html {
  overflow: hidden;
  min-width: 1200px;
  color: black;
  font-family: Helvetica;
  background: black;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  display: none;
  background: black;
  background: linear-gradient(20deg, rgba(190, 0, 0, 0.5), rgba(255, 0, 0, 0.4), rgba(255, 255, 255, 0.35)),
              url('versace.png') !important;
}

.crypto-ticker {
  color: white !important;
}

.cryptonatorwidget {
  font-size: 2.3rem;
  color: white !important;
  border-left: none !important;
  border-top: none !important;
}

.logged-in {
  position: absolute;
  top: 0;
  text-align: center;
  left: 2.4rem;
  width: 100%;
  font-size: 2.4rem;
  height: 5rem;
  padding: 1rem;
  border-bottom: darkred;
  color: darkred;
  background: rgba(190, 0, 0, 0.1);
}

.user-info {
  color: white;
  display: grid;
  grid-template-columns: 40rem 40rem;
  position: absolute; 
  bottom: 1.3rem;
  text-align:center;
}

#logged-in-sn {
  margin-left: 6rem;
}

#logged-in-balance {
  margin-left: 6rem;
}

.coins-video {
  display: none;
  z-index: 9999;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: -1.3rem;
  left: 5.3rem;
  opacity: 0.34;
}

.coins-video video {
    -webkit-transform: scaleX(3.5); 
  -webkit-transform: scaleY(2); 
  -moz-transform: scaleX(3.5);
  -moz-transform: scaleY(2);
  width: 100vw;
  height: 100vh;
}

.play-area, .footer-wrap {
  min-width: 1200px;
}

#pending-req {
  text-align: center;
  width: 100%; 
  background-color: red;
  color: white;
  height: auto;
}

.bitcoin-address {
  text-align: center;
  font-weight: 500;
  position: absolute;
  z-index: 9999;
  display: none;
  left: 5.5rem;
  width: 25rem;
  height: 35rem;  
  background-color: white;
  border-radius: 0.3rem;
}

#btc-address {
  font-size: 1.05rem;
}

.poker-invite {
  color: white;
  border: 1px solid white;
  display: none;
  position: absolute;
  margin-left: 6rem;
  margin-top: -4.8rem;
  height: 20rem;
  width: 30rem;
  z-index: 99999;
  background: linear-gradient(20deg, rgba(190, 0, 0, 0.7), rgba(255, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  border-radius: 0.3rem;
  text-align: center;
}

.poker-invite a {
  color: white;
}

.poker-invite div {
  text-align: center;
  display: block;
  left: 50%;
  top: 50%;
  position: absolute;
  font-size: 2.3rem;
  width: 80%;
  transform: translate(-50%, -50%);
}

.poker-invite button { 
  margin-bottom: 1.4rem;
  display: block;
  color: white;
  width: 10rem;
  margin-bottom: 4 rem;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 0.2rem;
}

.chat-area {
  display: none;
  position: absolute;
  background: rgba(255, 0, 0, 0.3);
  margin-left: 6rem;
  margin-top: -4.8rem;
  height: 50rem;
  width: 30rem;
  z-index: 9999;
}

.mytext {
  width: 100%;
}

#spade, #twenty-one {
  color: white;
  text-align: center;
}

#btc {
  margin-left: 0.3rem;
}

#spade {
  margin-left: 0.3rem;
  font-size: 3.3rem;
}

#twenty-one {
  font-family: serif;
  font-style: italic;
  font-weight: 500;
  margin-left: 0.1rem;
}

#search-field {
  position: absolute;
  left: 6rem;
  margin-top: -5rem;
  color: black;
  height: 3rem;
  width: 20rem;
  padding: 0;
  border: none;
  font-size: 1.6rem;
  text-align: center;
}

#search-field:focus {
  border: none;
  outline: none;
}

.search-results {
  font-size: 2.3rem;
  border: 1px solid black;
  color: white;
  display: none;
  z-index: 9999;
  position: absolute;
  left: 6rem;
  top: 4rem;
  background: linear-gradient(20deg, rgba(190, 0, 0, 0.7), rgba(255, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  max-height: 30rem;
  overflow: scroll;
  width: 26rem;
  text-align: center;
  border-radius: 0 0 0.5rem 0.5rem;
}

.user-search-result {
  border-bottom: 1px solid white;
  padding-bottom: 2rem;
}

.search-results button {
  width: auto;
  border: 1px solid white;
  background: none;
  margin: 0 auto;
  color: white;
}

.search-results::-webkit-scrollbar {
    width: 0.5rem;
}
 

.search-results::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
}

#add-friend {
  margin-top: 1rem;
}

.username {
  color: white;
  text-align: center;
  border-top: 1rem solid white;
  border-bottom: 1rem solid white;
}

.username h2 {
  font-weight: 500;
}

.body-wrap {
  width: 100%;
  left: 5.5rem;
  position: absolute;
  top: 2rem;
  border-radius: 0.5rem;
/*  border-top: 3px solid black;
  border-bottom: 3px solid black;*/
  background: linear-gradient(50deg, rgba(0, 0, 0, 0.95), rgba(200, 0, 20, 0.70), rgba(0, 0, 0, 0.95)),
  url('https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0051/5506/rrrrJP_InWonderland_Hearts_clubs_diamonds_n_spades300dpi_shop_preview.png');
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 10rem 1fr;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background-color: rgba(255, 255, 255, 0.7);
}

.overlay-txt {
  color: grey;
  position: relative;
  text-align: center;
  top: 50%;
  font-size: 2.7rem;
  z-index: 9999;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; 
  user-select: none; 
}

.overlay-txt:hover {
  cursor: default;
}

.play-area {
  border-top: 1rem solid white;
  border-bottom: 1rem solid white;
}


.player-hand,
.dealer-hand {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 90%;
  margin: 0 auto;
  grid-column-gap: 2rem;
  height: 75%;
}

.player-hand img,
.dealer-hand img {
  box-shadow: 6px 6px 4px black;
  border-radius: 0.55rem;
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  display: inline;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.player-hand img:hover,
.dealer-hand img:hover {
  box-shadow: 6px 6px 4px yellow;
}

.footer-wrap {
  background: rgba(120,0, 0, 0.55);
  position: absolute;
  border-top: 1px solid black;
  box-shadow: 9px 9px 9px 9px black;
  display: grid;
  grid-template-columns: 10rem 30rem 55% 1fr;
  bottom: 0;
  left: 5.3rem;
  height: 20rem;
  width: 100%;
  font-weight: 650;
  color: white;
}

.wager-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80%;
}

.wager-buttons input {
  height: 100%;
}

.button-area-left {
  color: white;
  display: grid;
  width: 100%;
  height: 50%;
  grid-template-rows: 1fr 1fr 1fr;
}

.button-area-left button {
  height: 100%;
  color: white;
}

.play-again {
  visibility: hidden;
}

.footer-wrap
input[type="submit"],
.footer-wrap button {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  width: 100%;
  font-size: 1.55rem;
  font-weight: 300rem;
  border: 1px solid white;
}

.footer-wrap input[type="submit"]:hover,
.footer-wrap button:hover {
  background: black;
}

button:hover {
  cursor: pointer;
  background-color: silver;
}

.result {
  width: 100%;
  position: relative;
}

#message {
  text-align: center;
  font-size: 3.4rem;
  color: white;
  font-weight: 600;
}

#flash-msg {
  display: hidden;
}

#wager {
  width: 40rem;
  margin: 0 auto;
  color: white;
  font-weight: 300;
  text-align: center;
  font-size: 2.55rem;
  padding: 0.5rem;
}

.wager-buttons input[type='submit'] {
  height: 100%;
}

#current-wager {
  color: white;
  font-weight: 700;
  font-size: 2rem;
}